# make these file types use crlf
*.cs        eol=crlf
*.fs        eol=crlf
*.cpp       eol=crlf
*.h         eol=crlf
*.hpp       eol=crlf
*.htm       eol=crlf
*.html      eol=crlf
*.jsp       eol=crlf
*.asp       eol=crlf
*.aspx      eol=crlf
*.bat       eol=crlf
*.cmd       eol=crlf
*.config    eol=crlf
*.txt       eol=crlf
*.haml      eol=crlf
*.jsx       eol=crlf
*.tsx       eol=crlf
*.sln       eol=crlf
*.csproj    eol=crlf
*.fsproj    eol=crlf
*.json      eol=crlf
*.xml       eol=crlf
*.xaml      eol=crlf
*.config    eol=crlf
*.bowerrc   eol=crlf
*.css       eol=crlf
*.css.min   eol=crlf
*.cshtml    eol=crlf
*.proj      eol=crlf
*.nuspec    eol=crlf
