variables:
  - name: _PublishUsingPipelines
    value: false
  - template: /eng/common/templates-official/variables/pool-providers.yml@self

trigger:
  batch: true
  branches:
    include:
      - main
      - release/*

pr: none

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      createAdoIssuesForJustificationsForDisablement: false
      sourceAnalysisPool:
        name: $(DncEngInternalBuildPool)
        image: 1es-windows-2022
        os: windows
    stages:
    - stage: build
      displayName: Build
      jobs:
      # The localization setup for main branch. Note difference in package ID. Should not be used with release/ branches.
      - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
        - template: /eng/common/templates-official/job/onelocbuild.yml@self
          parameters:
            MirrorRepo: templating
            LclSource: lclFilesfromPackage
            LclPackageId: 'LCL-JUNO-PROD-TMPLTNGMAIN'
            MirrorBranch: 'main'
            JobNameSuffix: '_main'
            condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enablePublishBuildArtifacts: true
          enablePublishBuildAssets: false
          enablePublishTestResults: false
          publishAssetsImmediately: true
          isAssetlessBuild: true
          enableTelemetry: true