# NOTE: Requires **VS2019 16.3** or later

# Microsoft.Analyzers.TemplateEngine
# Description: dotnet/templating repo source analyzer rules

# Code files
[*.{cs,vb}]

# Ensure minimum API surface is respected
dotnet_diagnostic.BCL0001.severity = warning

# AppContext default value expected to be true
dotnet_diagnostic.BCL0010.severity = warning

# AppContext default value defined in if statement with incorrect pattern
dotnet_diagnostic.BCL0011.severity = warning

# AppContext default value defined in if statement at root of switch case
dotnet_diagnostic.BCL0012.severity = warning

# Invalid SR.Format call
dotnet_diagnostic.BCL0020.severity = warning

# Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning
# Do not declare protected member in sealed type
dotnet_diagnostic.CA1047.severity = warning

# Declare types in namespaces
dotnet_diagnostic.CA1050.severity = warning

# Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = warning
# Do not declare event fields as virtual
dotnet_diagnostic.CA1070.severity = suggestion

# Avoid using cref tags with a prefix
dotnet_diagnostic.CA1200.severity = suggestion

# P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = warning

# Validate platform compatibility
dotnet_diagnostic.CA1416.severity = warning

# Do not use 'OutAttribute' on string parameters for P/Invokes
dotnet_diagnostic.CA1417.severity = warning

# Use valid platform string
dotnet_diagnostic.CA1418.severity = warning

# Use nameof to express symbol names
dotnet_diagnostic.CA1507.severity = warning
# Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = suggestion

# Use literals where appropriate
dotnet_diagnostic.CA1802.severity = warning

# Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = warning

# Initialize reference type static fields inline
dotnet_diagnostic.CA1810.severity = warning
# Remove empty Finalizers
dotnet_diagnostic.CA1821.severity = warning

# Avoid unused private fields
dotnet_diagnostic.CA1823.severity = warning

# Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1824.severity = warning

# Avoid zero-length array allocations.
dotnet_diagnostic.CA1825.severity = warning

# Do not use Enumerable methods on indexable collections. Instead use the collection directly
dotnet_diagnostic.CA1826.severity = warning

# Do not use Count() or LongCount() when Any() can be used
dotnet_diagnostic.CA1827.severity = warning

# Do not use CountAsync() or LongCountAsync() when AnyAsync() can be used
dotnet_diagnostic.CA1828.severity = warning

# Use Length/Count property instead of Count() when available
dotnet_diagnostic.CA1829.severity = warning

# Prefer strongly-typed Append and Insert method overloads on StringBuilder.
dotnet_diagnostic.CA1830.severity = warning

# Use AsSpan or AsMemory instead of Range-based indexers when appropriate
dotnet_diagnostic.CA1831.severity = warning

# Use AsSpan or AsMemory instead of Range-based indexers when appropriate
dotnet_diagnostic.CA1832.severity = warning

# Use AsSpan or AsMemory instead of Range-based indexers when appropriate
dotnet_diagnostic.CA1833.severity = warning

# Consider using 'StringBuilder.Append(char)' when applicable.
dotnet_diagnostic.CA1834.severity = warning

# Prefer the 'Memory'-based overloads for 'ReadAsync' and 'WriteAsync'
dotnet_diagnostic.CA1835.severity = warning

# Prefer IsEmpty over Count
dotnet_diagnostic.CA1836.severity = warning

# Use 'Environment.ProcessId'
dotnet_diagnostic.CA1837.severity = warning

# Avoid 'StringBuilder' parameters for P/Invokes
dotnet_diagnostic.CA1838.severity = warning

# Use 'Environment.ProcessPath'
dotnet_diagnostic.CA1839.severity = warning

# Use 'Environment.CurrentManagedThreadId'
dotnet_diagnostic.CA1840.severity = warning

# Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = warning

# Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.CA2008.severity = warning

# Do not call ToImmutableCollection on an ImmutableCollection value
dotnet_diagnostic.CA2009.severity = warning

# Avoid infinite recursion
dotnet_diagnostic.CA2011.severity = warning

# Use ValueTasks correctly
dotnet_diagnostic.CA2012.severity = warning

# Do not use ReferenceEquals with value types
dotnet_diagnostic.CA2013.severity = warning

# Do not use stackalloc in loops.
dotnet_diagnostic.CA2014.severity = warning

# Do not define finalizers for types derived from MemoryManager<T>
dotnet_diagnostic.CA2015.severity = warning

# Forward the 'CancellationToken' parameter to methods that take one
dotnet_diagnostic.CA2016.severity = warning
# Rethrow to preserve stack details.
dotnet_diagnostic.CA2200.severity = warning

# Initialize value type static fields inline
dotnet_diagnostic.CA2207.severity = warning

# Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning
# Implement serialization constructors
dotnet_diagnostic.CA2229.severity = warning

# Provide correct arguments to formatting methods
dotnet_diagnostic.CA2241.severity = warning

# Test for NaN correctly
dotnet_diagnostic.CA2242.severity = warning

# Do not assign a property to itself.
dotnet_diagnostic.CA2245.severity = warning

# Argument passed to TaskCompletionSource constructor should be TaskCreationOptions enum instead of TaskContinuationOptions enum.
dotnet_diagnostic.CA2247.severity = warning

# Provide correct 'enum' argument to 'Enum.HasFlag'
dotnet_diagnostic.CA2248.severity = warning

# Consider using 'string.Contains' instead of 'string.IndexOf'
dotnet_diagnostic.CA2249.severity = warning
# Do Not Add Schema By URL
dotnet_diagnostic.CA3061.severity = warning

# Insecure DTD processing in XML
dotnet_diagnostic.CA3075.severity = warning

# Insecure XSLT script processing.
dotnet_diagnostic.CA3076.severity = warning

# Insecure Processing in API Design, XmlDocument and XmlTextReader
dotnet_diagnostic.CA3077.severity = warning

# Mark Verb Handlers With Validate Antiforgery Token
dotnet_diagnostic.CA3147.severity = warning

# Do Not Use Weak Cryptographic Algorithms
dotnet_diagnostic.CA5350.severity = warning

# Do Not Use Broken Cryptographic Algorithms
dotnet_diagnostic.CA5351.severity = warning

# Do Not Disable Certificate Validation
dotnet_diagnostic.CA5359.severity = warning

# Do Not Call Dangerous Methods In Deserialization
dotnet_diagnostic.CA5360.severity = warning

# Do Not Disable SChannel Use of Strong Crypto
dotnet_diagnostic.CA5361.severity = warning

# Do Not Disable Request Validation
dotnet_diagnostic.CA5363.severity = warning

# Do Not Use Deprecated Security Protocols
dotnet_diagnostic.CA5364.severity = warning

# Do Not Disable HTTP Header Checking
dotnet_diagnostic.CA5365.severity = warning

# Set ViewStateUserKey For Classes Derived From Page
dotnet_diagnostic.CA5368.severity = warning

# Use XmlReader For Validating Reader
dotnet_diagnostic.CA5370.severity = warning

# Do not use obsolete key derivation function
dotnet_diagnostic.CA5373.severity = warning

# Do Not Use XslTransform
dotnet_diagnostic.CA5374.severity = warning

# Use SharedAccessProtocol HttpsOnly
dotnet_diagnostic.CA5376.severity = warning

# Use Container Level Access Policy
dotnet_diagnostic.CA5377.severity = warning

# Do not disable ServicePointManagerSecurityProtocols
dotnet_diagnostic.CA5378.severity = warning

# Do Not Use Weak Key Derivation Function Algorithm
dotnet_diagnostic.CA5379.severity = warning

# Do Not Add Certificates To Root Store
dotnet_diagnostic.CA5380.severity = warning

# Ensure Certificates Are Not Added To Root Store
dotnet_diagnostic.CA5381.severity = warning

# Do Not Use Digital Signature Algorithm (DSA)
dotnet_diagnostic.CA5384.severity = warning

# Use Rivest–Shamir–Adleman (RSA) Algorithm With Sufficient Key Size
dotnet_diagnostic.CA5385.severity = warning

# Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = warning
# UseIsNullCheck
dotnet_diagnostic.IDE0041.severity = warning

# ValidateFormatString
dotnet_diagnostic.IDE0043.severity = warning
# MakeLocalFunctionStatic
dotnet_diagnostic.IDE0062.severity = warning

# FileHeaderMismatch
dotnet_diagnostic.IDE0073.severity = warning

# ConvertTypeOfToNameOf
dotnet_diagnostic.IDE0082.severity = warning
dotnet_diagnostic.RS0041.severity = suggestion

# Nullable type symbol should not be preceded by a space
dotnet_diagnostic.SA1018.severity = warning

# Increment symbol should not be preceded by a space
dotnet_diagnostic.SA1020.severity = warning

# Keyword followed by span or blank line
dotnet_diagnostic.SA1026.severity = warning

# Tabs and spaces should be used correctly
dotnet_diagnostic.SA1027.severity = warning

# Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = warning

# Query clause should follow previous clause
dotnet_diagnostic.SA1102.severity = warning

# Query clauses spanning multiple lines should begin on own line
dotnet_diagnostic.SA1105.severity = warning

# Comma should be on the same line as previous parameter
dotnet_diagnostic.SA1113.severity = warning

# Parameter should begin on the line after the previous parameter
dotnet_diagnostic.SA1115.severity = warning

# Use built-in type alias
dotnet_diagnostic.SA1121.severity = warning

# Do not use default value type constructor
dotnet_diagnostic.SA1129.severity = warning
# Use tuple syntax
dotnet_diagnostic.SA1141.severity = warning

# Refer to tuple elements by name
dotnet_diagnostic.SA1142.severity = warning

# Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = warning

# Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = warning

# Constants should appear before fields
dotnet_diagnostic.SA1203.severity = warning

# Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = warning

# Partial elements should declare an access modifier
dotnet_diagnostic.SA1205.severity = warning

# Keyword ordering
dotnet_diagnostic.SA1206.severity = warning
# A get accessor appears after a set accessor within a property or indexer
dotnet_diagnostic.SA1212.severity = warning

# Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = warning

# Interface names should begin with I
dotnet_diagnostic.SA1302.severity = warning
# Member should declare an access modifer
dotnet_diagnostic.SA1400.severity = warning

# Code analysis suppression should have justification
dotnet_diagnostic.SA1404.severity = warning

# Remove delegate parens when possible
dotnet_diagnostic.SA1410.severity = warning

# Attribute constructor shouldn't use unnecessary parenthesis
dotnet_diagnostic.SA1411.severity = warning

# Code should not contain blank lines at start of file
dotnet_diagnostic.SA1517.severity = warning